.title
{
    color: red;
    font-size: 40px;
    text-align: center;
    transform: rotate(-10deg);
}

p
{
    color: green;
    font-size: 20px;
}

#special
{
    color: blue;
    font-size: 30px;
}